* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*css for header*/

#headersection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333; 
    color: white; 
}

#logo img {
    width: 150px; 
    height: auto;
}

#navlinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navlinks ul li {
    display: inline-block;
    margin-right: 10px; 
}

#navlinks ul li{
    text-decoration: none;
    color: red; 
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#navlinks ul li:hover {
    background-color: #f0f0f0; 
    color: #2d2525;
    transform: scale(1.05); 
}

@media only screen and (max-width: 600px) {
    #navlinks ul{
     display: none;
 }
}

form[role="search"] {
    display: flex;
    align-items: center;
}

form[role="search"] input[type="search"] {
    flex: 1;
    margin-right: 10px; 
}

@media (max-width: 768px) {
    #headersection {
        flex-direction: column;
        align-items: flex-start;
    }
    
    #navlinks ul {
        margin-top: 10px; 
    }
}

/* css for running paragraph and breaking news*/

#running-paragraph {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 10px;
    color: #555; 
    white-space: nowrap; 
    overflow: hidden; 
    animation: run 20s linear infinite;
}
.running-paragraph-container{
    overflow: hidden;
}

@keyframes run {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(-100%); 
    }
}


@media screen and (max-width: 768px) {
    #running-paragraph {
        font-size: 16px;
        animation: run 15s linear infinite; 
    }
}

#breaking-news {
    overflow: hidden;
    background-color: #ff0000;
}

.breaking-news-container {
    overflow: hidden;
}

#breaking-news-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    animation: scrollLeft 20s linear infinite;
}

#breaking-news-list li {
    display: inline-block;
    padding: 10px;
    color: #2d2525;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* css for news articles */

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(236, 212, 216);
}
.card h2 {
    margin-top: 0;
    text-align: center;
    font-weight: bolder;
    animation: colorGlow 2s infinite alternate;
}
@keyframes colorGlow {
    0% {
        color: #080808;
    }
    100% {
        color: #ff0000; 
    }
}

.card p {
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
}

.card a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: white;
    position: relative;
    overflow: hidden;
    animation: shining 2s infinite alternate;
}

@keyframes shining {
    0% {
        background-color: white;
    }
    100% {
        background-color: #16ed0b; 
    }
}

/* css of footer */

#footersection{
    border-bottom: 1px solid black;
}
.pagination {
    display: flex;
    justify-content: center;
}

.pagination .page-item {
    margin: 0 5px;
}
